/* Stylesheet for irepair4u website */

:root {
    --red-accent: rgb(225, 30, 70);
    --lighter-red-accent: rgb(255, 40, 80);
    --gray-accent: rgb(190, 190, 190);
    --background-color: rgb(245, 245, 245);
    --shadow-color: rgb(220, 220, 220); 
    --two-column-width: 140px;
    --three-column-width: 220px;
    --four-column-width: 300px;
    --six-column-width: 460px;
    --eight-column-width: 620px;
    --nine-column-width: 700px;
    --twelve-column-width: 940px;
    --full-width: 960px;
}

/* Body and body content style */
body {
    background-color: white;
    font-family: sans-serif;
    /* Body defaults to an 8px margin */
    margin: 0;
    padding: 0;
}

/* banner and banner content style */
.banner {
    color: black;
    background-color: var(--gray-accent);
    padding: 0;
    margin: 0;
}
.banner-content {
    /* Need to use 940px instead of 960 because padding adds on outside of 960 */
    max-width: var(--twelve-column-width);
    padding: 20px 10px;
    margin: 0 auto;
}
.banner-title {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
.banner-paragraph {
    padding: 0;
    margin: 0;
}

/* Header and header content style */
header {
    /* Text color is determined later */
    background-color: white;
    padding: 0;
    margin: 0;
    /* box-shadow takes horizonatal and vertical offset then blur distance and then shadow distance */
    box-shadow: 0px 0px 20px 5px var(--shadow-color);
}
.navbar {
    /* Banner color fills up the whole screen. Navbar only takes up half */
    /* 960px is half 1920px */
    max-width: var(--twelve-column-width);
    padding: 10px;
    margin: 0 auto;
    /* Flexbox container for navbar elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    /* Navbar elements control padding for banner */
    padding: 0;
    margin: 0;
}
.navbar ul {
    /* Removes redundant margin and padding */
    padding: 0;
    margin: 0;
}
.navbar ul li {
    /* inline-block removes list styles and make items horizontal */
    display: inline-block;
    padding: 0;
    margin: 0; 
}
.default-nav-button a{
    color: white;
    background-color: var(--red-accent);
    text-decoration: none;
    margin: 0;
    /* default-nav-button needs padding for its background color */
    padding: 15px;
    /* This creates a gap between the last regular button and the default button */ 
    margin-left: 15px;
    border-radius: 50px;
}
.default-nav-button a:hover {
    background-color: var(--lighter-red-accent);
}
.nav-button a{
    color: black;
    text-decoration: none;
    font-size: 110%;
    /* ensures min-width to homogenize appearance */
    min-width: 60px;
    padding: 15px;
    margin: 0;
}
.nav-button a:hover {
    color: var(--red-accent);
    text-decoration: underline;
}

/* Page content style */
.page-content {
    /* .page-content allows body content to have a margin aligned with navbar */
    /* page-content is different than header, footer, or banner. page-content does not have padding, contained elements use margins and padding */
    padding: 0;
    margin: 0 auto;
}

#about {
    max-width: var(--twelve-column-width);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.section-title {
    font-size: 300%;
    max-width: var(--six-column-width);
    margin: 20px 10px;
    text-align: left;
}
.section-paragraph {
    font-size: 110%;
    max-width: var(--six-column-width);
    margin: 20px 10px;
    text-align: left;
}

#services {
    margin: 50px 0;
    background-color: var(--gray-accent);
    background-image: url(images/age-barros-fKAjOxgZNPg-unsplash.jpg);
    background-size: cover;
}
.card-container {
    color: white;
    font-size: 100%;
    max-width: var(--full-width);
    padding: 40px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-content: center;
}
.service-card {
    background-color: var(--red-accent);
    width: var(--three-column-width);
    height: var(--four-column-width);
    box-sizing: border-box;
    padding: 10px;
    margin: 30px 10px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
}

/* footer and footer content style */
footer {
    color: white;
    background-color: var(--red-accent);
    /* padding in footer rather than footer-content for copyright element */ 
    padding: 20px 10px;
    margin: 0;
}
.footer-content {
    max-width: var(--twelve-column-width);
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-content ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}
.footer-content ul li {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.footer-content table td {
    /* Creates a gap between table columns */
    padding: 0;
    padding-right: 20px;
    margin: 0;
}
.footer-content a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.footer-content a:hover {
    text-decoration: underline;
}

#copyright {
    text-align: center;
    padding: 20px;
    margin: 0; 
}
